.top {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    background-color: rgba(22, 45, 255, 0.353); 
    color:#ffffff; 
    backdrop-filter: blur(10px); 
    border-radius: 16px; 
    padding: 16px;
}

.topISSHUNT {
    font-family: 'Tektur', sans-serif; 
    font-size: 25px; 
    padding-left: 50px;
}

.topTIME {
    text-align: right; 
    justify-content: flex-end; 
    font-family: 'Rubik', sans-serif;
}

.countries {
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    position: absolute; 
    top: 28%; 
    left: 18%; 
    transform: translate(-50%, -50%);
    display: flex;
}

.Xbutton {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.doneButton { 
    cursor: pointer; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    position: absolute; 
    top: 20%; 
    left: 120%; 
    transform: translate(-50%, -50%);
    transition: 150ms ease-in-out; 
}
.doneButton:hover {
    scale: 1.2;
    color: rgb(109, 123, 255);
    text-shadow: 1px 1px 20px rgb(255, 255, 255);
}