body {
    background-color: rgb(15, 29, 51);
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1 {
    position: relative;
    margin-left: 5vh;
    font-family: 'Tektur', sans-serif; 
    color: #ffffff;
    font-size: 50px
}

.basicText {
    color: #ffffff;
    font-size: 28px;
    text-align: justify;
    margin: 2vh;
    font-family: 'Rubik', sans-serif;
}

.header {
    cursor: default;
    position: fixed;
    background-color: rgb(27, 41, 65);
    width: 150%;
    height: 13vh;
    box-shadow: 0px 0px 0px rgb(27, 41, 65);
    animation: headerA linear;
    animation-timeline: view();
    animation-range-start: 0%; 
    animation-range-end: 150%;
    z-index: 90;
}

.headerTitle {
    font-family: 'Tektur', sans-serif; 
    font-size: 50px; 
    color: #fff;
    font-weight: bold;
    left: 30%;
    margin-top: 20px;
    position: absolute;
    animation: headerB linear;
    animation-timeline: view();
    animation-range-start: 0%; 
    animation-range-end: 150%;
    z-index: 100;
}

.headerSegments {
    justify-content: space-around; 
    text-align: right; 
    display: flex;
    flex-direction: column;
    position: relative;
    left: 55%;
    margin-top: 90px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    animation: headerC linear;
    animation-timeline: view();
    animation-range-start: 0%; 
    animation-range-end: 150%;
    opacity: 0;
    z-index: 100;
}

.headerSegments a {
    color: #ffffff;
    transition: 200ms
}

.headerSegments a:hover {
    color: pink;
    scale: 1.05
}

@keyframes headerA {
    from {
        height: 500px;
        box-shadow: -75px 100px 80px rgb(27, 41, 65);
    }
    to {
        height: 100px;
        box-shadow: 0px 0px 0px rgb(27, 41, 65);
    }
}

@keyframes headerB {
    from {
        font-size: 150px; 
        left: -20%;
        margin-top: 8%
    }
    to {
        font-size: 50px; 
        left: 30%;
        margin-top: 20px;
    }
}

@keyframes headerC {
    0% {
        opacity: 1;
        margin-top: 90px;
    }
    50% {
        opacity: 1;
        margin-top: 90px;
    }
    90% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 0;
        margin-top: -20px;
    }
}

.startText {
    font-family: "Zeyada", cursive;
    position: fixed; 
    margin-top: 450px;
    margin-left: 30%;
    color: white;
    font-size: 80px;
    cursor: default;
    animation: startVoyage linear;
    animation-timeline: view();
    animation-range-start: 0%; 
    animation-range-end: 550px;
    opacity: 0;
}

@keyframes startVoyage {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.scrollText {
    font-family: 'Rubik', sans-serif;
    position: fixed; 
    margin-top: 590px;
    color: white;
    font-size: 30px;
    cursor: default;
    opacity: 0;
    animation: hop1 ease-in-out infinite 3s, hopsEnd;
    animation-timeline: auto, view();
    animation-range-start: normal, 0%; 
    animation-range-end: normal, 550px;
    transition: 200ms
}

.arrow {
    position: fixed;
    margin-top: 625px;
    animation: hop2 ease-in-out infinite 3s, hopsEnd;
    opacity: 0;
    animation-timeline: auto, view();
    animation-range-start: normal, 0%; 
    animation-range-end: normal, 500px;
}

.scrollText:hover {
    scale: 1.05;
    box-shadow: 10px 10px 100px rgb(27, 41, 65);
}

@keyframes hop1 {
    0% {
        margin-top: 590px;
    }
    50% {
        margin-top: 610px;
    }
    100% {
        margin-top: 590px;
    }
}

@keyframes hop2 {
    0% {
        margin-top: 625px;
    }
    50% {
        margin-top: 645px;
    }
    100% {
        margin-top: 625px;
    }
}

@keyframes hopsEnd {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* sections */

section {
    height: 87vh;
}

#About {
    background-color: pink;
}

#Education {
    background-color: palevioletred;
}

#Guide {
    background-color: plum;
}

#Astronauts {
    background-color: rgb(15, 29, 51);
}

#Socials {
    background-color: rgb(15, 29, 51);
}

.imgsAstronauts {
    height: 100px;
    width: 100px;
    border-radius: 5%;
    margin: 2vh;
    position: relative;
}

.imgsAstronautsScroll {
    animation: imgScroll linear;
    animation-timeline: scroll();
    animation-range-start: 0px; 
    animation-range-end: 100%;
}

@keyframes imgScroll {
    to {
        transform: translate(calc(-50% - 0.5rem))
    }
}

.GorillaOpacity1 {
    transition: 200ms ease-in-out
}

.GorillaOpacity1:hover {
    opacity: 0
}

.photosAnimation {
    animation: appear 200ms linear;
    animation-timeline: view();
    animation-range-start: 0px; 
    animation-range-end: 300px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


/* Old classes - maybe they'll be helpful bc I'm styaing in the same design style 
.top {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    background-color: rgba(22, 45, 255, 0.353); 
    color:#ffffff; 
    backdrop-filter: blur(10px); 
    border-radius: 16px; 
    padding: 16px;
}

.topISSHUNT {
    font-family: 'Tektur', sans-serif; 
    font-size: 25px; 
    padding-left: 50px;
    cursor: default;
    transition: 250ms ease-in-out; 
}

.topISSHUNT:hover {
    scale: 1.2;
    color: rgba(22, 45, 255, 0.567);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 20px rgb(95, 99, 129);
}

.topTIME {
    text-align: right; 
    justify-content: flex-end; 
    font-family: 'Rubik', sans-serif;
} 

.countries {
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    position: absolute; 
    top: 28%; 
    left: 18%; 
    transform: translate(-50%, -50%);
    display: flex;
}

.Xbutton {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.polandWindow {
    padding: 16px;
    color: #ffffff;  
    position: absolute; 
    top: 55%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 16px;
    border-width: 2px;
    display: none;
}

.polandWindowText {
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    padding: 4px;
    margin: 4px;
}

.doneButton { 
    cursor: pointer; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    position: absolute; 
    top: 20%; 
    left: 120%; 
    transform: translate(-50%, -50%);
    transition: 150ms ease-in-out; 
}
.doneButton:hover {
    scale: 1.2;
    color: rgb(109, 123, 255);
    text-shadow: 1px 1px 20px rgb(255, 255, 255);
}

.windowheader {
    cursor: move; 
    background-color: rgba(22, 45, 255, 0.353); 
    color:#ffffff; 
    backdrop-filter: blur(10px); 
    border-radius: 16px; 
    padding: 16px;
    justify-content: space-between;
    display: flex;
}

.ISSinfoApp {
    padding-top: 64px; 
    padding-left: 1200px;
    cursor: pointer;
}

.ISSinfoAppWindow {
    border: solid; 
    color:#ffffff; 
    border-radius: 16px; 
    padding: 16px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);
}

.XButton {
    text-align: right; 
    cursor: pointer; 
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}

.text {
    font-family: 'Rubik', sans-serif;
    color : #ffffff;
}

.bottomApps {
    background-color: rgba(22, 45, 255, 0.223); 
    color:#ffffff; 
    backdrop-filter: blur(10px); 
    border-radius: 16px;
    padding: 16px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: row;
} */

.ISSimage {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 9999;

    animation: ISSanimation 30s linear infinite;
}

@keyframes ISSanimation {
    0% {
    top: 5vh;
    left: 75vw;
    transform: scaleX(1)
    }
    10% {
    top: 5vh;
    left: 50vw;
    transform: scaleX(1)
    }
    20% {
    top: 5vh;
    left: 25vw;
    transform: scaleX(1)
    }
    30% {
    top: 30vh;
    left: 5vw;
    transform: scaleX(1)
    }
    39% {
    top: 73vh;
    left: 5vw;
    transform: scaleX(1)
    }
    40% {
    top: 75vh;
    left: 5vw;
    transform: scaleX(-1)
    }
    50% {
    top: 85vh;
    left: 25vw;
    transform: scaleX(-1)
    }
    60% {
    top: 85vh;
    left: 50vw;
    transform: scaleX(-1)
    }
    70% {
    top: 85vh;
    left: 75vw;
    transform: scaleX(-1)
    }
    80% {
    top: 70vh;
    left: 90vw;
    transform: scaleX(-1)
    }
    81% {
    top: 68vh;
    left: 90vw;
    transform: scaleX(1)
    }
    90% {
    top: 30vh;
    left: 90vw;
    transform: scaleX(1)
    }
    100% {
    top: 5vh;
    left: 75vw;
    transform: scaleX(1)
    }

}