.top {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    background-color: rgba(22, 45, 255, 0.353); 
    color:#ffffff; 
    backdrop-filter: blur(10px); 
    border-radius: 16px; 
    padding: 16px;
}

.topISSHUNT {
    font-family: 'Tektur', sans-serif; 
    font-size: 25px; 
    padding-left: 50px;
}

.topTIME {
    text-align: right; 
    justify-content: flex-end; 
    font-family: 'Rubik', sans-serif;
}

.ISSimage {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 9999;

    animation: ISSanimation 30s linear infinite;
}

@keyframes ISSanimation {
    0% {
    top: 5vh;
    left: 75vw;
    transform: scaleX(1)
    }
    10% {
    top: 5vh;
    left: 50vw;
    transform: scaleX(1)
    }
    20% {
    top: 5vh;
    left: 25vw;
    transform: scaleX(1)
    }
    30% {
    top: 30vh;
    left: 5vw;
    transform: scaleX(1)
    }
    40% {
    top: 75vh;
    left: 5vw;
    transform: scaleX(-1)
    }
    50% {
    top: 85vh;
    left: 25vw;
    transform: scaleX(-1)
    }
    60% {
    top: 85vh;
    left: 50vw;
    transform: scaleX(-1)
    }
    70% {
    top: 85vh;
    left: 75vw;
    transform: scaleX(-1)
    }
    80% {
    top: 70vh;
    left: 90vw;
    transform: scaleX(-1)
    }
    90% {
    top: 30vh;
    left: 90vw;
    transform: scaleX(1)
    }
    100% {
    top: 5vh;
    left: 75vw;
    transform: scaleX(1)
    }

}

.countries {
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    position: absolute; 
    top: 28%; 
    left: 18%; 
    transform: translate(-50%, -50%);
    display: flex;
}

.Xbutton {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.polandWindow {
    padding: 16px;
    color: #ffffff;  
    position: absolute; 
    top: 55%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 16px;
    border-width: 2px;
}

.polandWindowText {
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    padding: 4px;
    margin: 4px;
}

.doneButton { 
    cursor: pointer; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    font-family: 'Rubik', sans-serif; 
    position: absolute; 
    top: 20%; 
    left: 120%; 
    transform: translate(-50%, -50%);
    transition: 150ms ease-in-out; 
}
.doneButton:hover {
    scale: 1.2;
    color: rgb(109, 123, 255);
    text-shadow: 1px 1px 20px rgb(255, 255, 255);
}